<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomsurvey.example.mapper.SurveyMapper">

	<insert id="surveyWrite" parameterType="Survey">
		INSERT into survey(s_idx, s_title, s_content)
		
		VALUES(
			#{s_idx},
			#{s_title},
			#{s_content}

		)
		<selectKey keyProperty="s_idx" resultType="Integer">
    		SELECT LAST_INSERT_ID()
  		</selectKey>

	</insert>

	<insert id="questionWrite" parameterType="Survey">
		INSERT into question(s_idx, q_idx, q_title, q_type, q_content)
		
		VALUES
		<foreach item="q" index="index" collection="questions" separator=",">
		(
			#{s_idx},
			#{index}+1,
			#{q.q_title},
			#{q.q_type},
			#{q.q_content}
		)
		</foreach>
	</insert>


	<insert id="items" parameterType="Question">
		INSERT INTO item(s_idx, q_idx, i_idx, i_content)
		
		VALUES
		<foreach item="i" index="index" collection="items" separator=",">
		(
			#{s_idx},
			#{q_idx},
			#{index}+1,
			#{i.i_content}
		)
		</foreach>			
	</insert>
	
	
	<!-- <resultMap id="results" type="surveyresult">
		<id property="s_idx"	column="s_idx"/>
		<result property="q_idx" column="q_idx"/>
		<result property="q_type" column="q_type"/>
		<result property="sr_answer" column="sr_answer"/>
		
		<collection property="surveyresult" ofType="surveyresult2">
			<id property="s_idx"	column="s_idx"/>
			<result property="q_idx" column="q_idx"/>
			<result property="q_type" column="q_type"/>
			<result property="sr_answer2" column="sr_answer2"/>
			
		</collection>
	</resultMap> 
	-->
	<insert id="result2" parameterType="java.util.List">
		INSERT INTO surveyresult(s_idx,q_idx, i_idx)
		
		VALUES
		<foreach item="r2" index="index" collection="list" separator=",">
		(
			#{r2.s_idx}, 
			#{r2.q_idx},
			#{r2.i_idx}
			
		)
		</foreach>
	</insert>
	
	 <insert id="result" parameterType="java.util.List">
	 
		INSERT INTO surveyresult(s_idx, q_idx, q_type, sr_answer)
		
		VALUES
		<foreach item="r" index="index" collection="list" separator=",">
			(
				#{r.s_idx}, 
				#{r.q_idx},
				#{r.q_type},
				#{r.sr_answer}
			
			)
		</foreach>
	</insert>
	
	
	<select id="selectSurvey" resultType="Survey">
		
		SELECT @ROWNUM := @ROWNUM +1 AS ROWNUM,
				ta.*
		FROM survey ta,(SELECT @ROWNUM := 0) TMP
		
		ORDER BY ta.s_idx ASC
	</select>
	
	
	
	<resultMap id="resultSurvey" type="Survey">
		<id property="s_idx"			column="s_idx"/>
		<result property="s_title"		column="s_title"/>
		<result property="s_content"		column="s_content"/>
		
		<collection property="questions" ofType="question">
			<id property="q_idx"			column="q_idx"/>
			<result property="s_idx"			column="s_idx"/>
			<result property="q_title"		column="q_title"/>
			<result property="q_content"	column="q_content"/>
			<result property="q_type"		column="q_type"/>
			
			<collection property="items" ofType="item">
				<id property="i_idx"			column="i_idx"/>
				<result property="s_idx"			column="s_idx"/>
				<result property="q_idx"		column="q_idx"/>
				<result property="i_content"		column="i_content"/>
	
			</collection>
		</collection>
		
	</resultMap>
	
	<select id="detailSurvey" resultMap="resultSurvey" >
	
		SELECT 		*
		
		FROM 		survey ta		
		
		LEFT JOIN 	question tb ON ta.s_idx = tb.s_idx
		LEFT JOIN 	item tc ON tb.s_idx = tc.s_idx and tb.q_idx = tc.q_idx		
		
		WHERE 		ta.s_idx = #{s_idx}
	</select>
	
	
</mapper>